@model MvcAppDbFirst.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">NameStyle</div>
    <div class="display-field">@Model.NameStyle</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">FirstName</div>
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">MiddleName</div>
    <div class="display-field">@Model.MiddleName</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Suffix</div>
    <div class="display-field">@Model.Suffix</div>

    <div class="display-label">CompanyName</div>
    <div class="display-field">@Model.CompanyName</div>

    <div class="display-label">SalesPerson</div>
    <div class="display-field">@Model.SalesPerson</div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">@Model.EmailAddress</div>

    <div class="display-label">Phone</div>
    <div class="display-field">@Model.Phone</div>

    <div class="display-label">PasswordHash</div>
    <div class="display-field">@Model.PasswordHash</div>

    <div class="display-label">PasswordSalt</div>
    <div class="display-field">@Model.PasswordSalt</div>

    <div class="display-label">rowguid</div>
    <div class="display-field">@Model.rowguid</div>

    <div class="display-label">ModifiedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifiedDate)</div>

    <div class="display-label">CustomerAddress</div>
    <div class="display-field">@(Model.CustomerAddress == null ? "None" : Model.CustomerAddress.Count.ToString())</div>

    <div class="display-label">SalesOrderHeader</div>
    <div class="display-field">@(Model.SalesOrderHeader == null ? "None" : Model.SalesOrderHeader.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


